mat-form-field {
  width: 100% !important;
}

.buttons-form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
