
h1 {
  margin-bottom: 0;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50em
}

.selected {
  color: white !important;
  background-color: #42545C !important;
}

.margins {
  margin-bottom: 7px;
  margin-top: 7px;
}
