<div class="row content-box">
  <button class="content-on-start" mat-button routerLink="/rooms">
    <mat-icon>arrow_back</mat-icon>
    Повернутись
  </button>

  <button class="content-on-end" mat-button (click)="openDialog()">
    <mat-icon>refresh</mat-icon>
    Обновити
  </button>
</div>

<div class="mat-elevation-z8">
  <table class="to-background" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="lamp">
      <th mat-header-cell *matHeaderCellDef>Лампа</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{element.lamp.model}} </td>
    </ng-container>

    <ng-container matColumnDef="countLamp">
      <th mat-header-cell *matHeaderCellDef>Кількість ламп</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{element.countLamp}} </td>
    </ng-container>

    <ng-container matColumnDef="countSocle">
      <th mat-header-cell *matHeaderCellDef>Кількість цоколей</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{element.countSocle}} </td>
    </ng-container>

    <ng-container matColumnDef="yearCount">
      <th mat-header-cell *matHeaderCellDef>Роки розрахунків</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{element.yearCount}} </td>
    </ng-container>

    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef>Сумма</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{element.sum.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let element" [class]="getClass(element)"> {{getStatus(element.recordType.description)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]"
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<br/>
<br/>
