table {
  width: 100%;
}

td {
  text-align: center;
}

th {
  text-align: center !important;
}

.content-box {
  display: flex;
  margin-bottom: 4px;
  justify-content: space-between;
  align-content: space-between;
}

.action-row {
  max-width: 88px !important;
  min-width: 88px !important;
}

.optimal {
  background: lightgreen;
}
