<h1 mat-dialog-title>Створення типу кімнати</h1>
<div mat-dialog-content [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Модель</mat-label>
      <input matInput formControlName="model">
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Ціна</mat-label>
        <input matInput formControlName="price" type="number">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Час роботи</mat-label>
        <input matInput formControlName="termOfWork" type="number" placeholder="4.5">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Світловий потік</mat-label>
        <input matInput formControlName="luminousFlux" type="number">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Потужність</mat-label>
        <input matInput formControlName="power" type="number">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-label>Тип лампи</mat-label>
      <mat-select formControlName="lampType">
        <mat-option *ngFor="let item of lampTypes | async" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </div>
    <div class="col">
      <mat-label>Цоколь</mat-label>
      <mat-select formControlName="socle">
        <mat-option *ngFor="let item of socles | async" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </div>
  </div>
</div>
<div class="buttons-form" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Назад</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>{{isEdit ? 'Редагувати' : 'Створити'}}</button>
</div>
