<h1 mat-dialog-title>{{isEdit ? 'Редагування лампи' : 'Створення лампи'}}</h1>
<div mat-dialog-content [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Модель</mat-label>
      <input matInput formControlName="model" placeholder="Brille LT5 6W/33">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Ціна</mat-label>
          <input matInput formControlName="price" type="number" placeholder="50">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Термін роботи</mat-label>
          <input matInput formControlName="termOfWork" type="number" placeholder="8000">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="row">
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Світловий потік</mat-label>
          <input matInput formControlName="luminousFlux" type="number" placeholder="670">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Потужність</mat-label>
          <input matInput formControlName="power" type="number" placeholder="6">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="row">
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Тип лампи</mat-label>
          <mat-select formControlName="lampType" [compareWith]="compareById">
            <mat-option *ngFor="let item of lampTypes | async" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Цоколь</mat-label>
          <mat-select formControlName="socle" [compareWith]="compareById">
            <mat-option *ngFor="let item of socles | async" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
<div class="buttons-form" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Назад</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>{{isEdit ? 'Редагувати' : 'Створити'}}</button>
</div>
