<div class="mat-elevation-z8">
  <table class="to-background" mat-table [dataSource]="dataSource">

    <!-- Weight Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef style="max-width: 100px"> Номер приміщення</th>
      <td mat-cell *matCellDef="let element" style="max-width: 100px"> {{element.number}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lightningRate">
      <th mat-header-cell *matHeaderCellDef> Світловий потік</th>
      <td mat-cell *matCellDef="let element"> {{element.roomType.lightningRate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]"
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<br/>
<br/>
